{{> header }}

    <article class="post">
        <p class="date">{{ this.meta.formattedDate }}</p>
        <h1>{{meta.title}}</h1>
        {{{ post.content }}}
      <section class="comments">
          {{#if data.disqus }}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            window.disqus_identifier="";
            window.disqus_url="{{ data.url }}{{ path }}/";
            window.disqus_title="{{meta.title}}";
          </script>
          <script type="text/javascript" src="http://disqus.com/forums/{{ data.disqus }}/embed.js"></script>
          <noscript><a href="http://{{ data.disqus }}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
        {{/if}}
      </section>
    </article>

    {{#if next}}
    <a href="{{ next.path }}">{{next.title}}</a>
    {{/if}}
    {{#if prev}}
    <a href="{{ prev.path }}">{{prev.title}}</a>
    {{/if}}

{{> footer }}
